<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Contact -->
                <section class="contact">
                    <header>
                        <h3>if you want to see my project's code,<br>click this github's icon</h3>
                    </header>
                    <ul class="icons">
                        <li><a href="https://github.com/bbs-team" class="icon brands fa-github"><span class="label">Twitter</span></a></li>
                    </ul>
                </section>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
</html>