<body class="left-sidebar is-preload">
<div id="page-wrapper">
    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="/" id="logo">Bose's Portfolio</a></h1>
                <hr />
                <p>Tank you for visiting</p>
            </header>
        </div>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/algorithm">Algorithm</a></li>
                <li><a href="/project">Project</a></li>
                <li><a href="/baekjoon">Baekjoon</a></li>
            </ul>
        </nav>
    </div>