<% include ./partials/header.ejs %>
<% include ./partials/headers.ejs %>
<% include ./partials/algo_side.ejs %>

			<div class="col-8 col-12-mobile imp-mobile" id="content">
				<article id="main">
					<header>
						<h2>Algorithm</h2>
						<p>
							알고리즘 기초 공부
						</p>
					</header>
					<p style="text-align:center">
						알고리즘 공부를 하기에 앞서 기본적으로 배워야하는 다양한 이론에 대하여 학습
					</p>
					<p style="text-align:center">
						정렬, 완전 탐색, 이분 탐색, 트리 등을 공부하는 공간입니다.
					</p>
				</article>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>