<%- include ('partials/header') -%>
<%- include ('partials/headers') -%>
<%- include ('partials/etc_side') -%>

                <div class="col-8 col-12-mobile imp-mobile" id="content">
                    <article id="main">
                        <header>
                            <h2>Etc</h2>
                            <p>
                                개발에 필요한 환경을 갖추는 것을 공부하는 공간
                            </p>
                        </header>
                        <p style="text-align:center">
                            개발을 하기 위한 다양한 환경을 구축하기 위한 페이지
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>

<%- include ('partials/footer') -%>