<%- include ('partials/header') -%>
<%- include ('partials/headers') -%>

<!-- Main -->
<div class="wrapper style1">
	<div class="container" id="banner">
		<div class="row gtr-200">
			<div class="col-4 col-12-mobile" id="sidebar">
				<section>
					<div class="row gtr-50">
						<div class="col-8">
							<h5>Node.JS</h5>
							<p><a href="/algorithm">Community</a></p>
							<p><a href="/algorithm">Scheduler</a></p>
						</div>
						<div class="col-8">
							<h4>졸업작품</h4>
							<p><a href="/algorithm">Smart CCTV</a></p>
						</div>
					</div>
				</section>
			</div>
			<div class="col-8 col-12-mobile imp-mobile" id="content">
				<article id="main">
					<header>
						<h2>Project</h2>
						<p>
							개발의 기초 공부
						</p>
					</header>
					<p style="text-align:center">
						서버 개발을 위한 다양한 프로젝트를 연습
					</p>
					<p style="text-align:center">
						다양한 언어를 통한 Server 개발을 목표로 노력하는 공간
					</p>
				</article>
			</div>
		</div>
	</div>
</div>

<%- include ('partials/footer') -%>